.button
{
    font-family: 'Lato', sans-serif;
    font-weight: 900;

    display: inline-block;

    padding: rem(19px) rem(55px);

    text-transform: uppercase;

    color: #fff;
    border: rem(1px) solid #fff;

    &--menu
    {
        margin: 0 auto;

        text-align: center;

        color: $dark;
        border-color: $dark;
    }

    &:hover
    {
        background-color: $yellow;
    }
}
