.header
{
    width: 100%;
    height: rem(100px);

    background-color: rgba(0, 0, 0, .35);
}

.header__container
{
    display: none;

    @include screen-sm
    {
        position: absolute;
        z-index: 50;
        top: rem(50px);
        right: 5%;

        display: block;

        margin-top: rem(-13px);
    }
}
