.icons {
  display: block;
}

.icons__item {
  display: inline-block;
  margin-right: 25px;

  &:last-child {
    margin-right: 0;
  }
}

.icons__link {
  display: inline-block;
  width: 26px;
  height: 26px;
  fill: #fff;

  &:hover {
    fill: $yellow;
  }
}

.icons__svg {
  width: 100%;
  height: 100%;
}