.location
{
    display: flex;

    width: 100%;
    height: rem(426px);
    margin-bottom: rem(15px);

    @include screen-sm
    {   
        flex-direction: column;
        height: auto;
    }
}

.location__left
{
    width: rem(456px);
    height: 100%;
    padding: rem(60px) rem(50px);

    background-color: $yellow;

    @include screen-sm
    {   
        padding: rem(30px);
        width: 100%;
    }
}

.location__map
{
    height: 100%;

    flex-grow: 1;

    @include screen-sm
    {   
        width: 100%;
        height: rem(400px);
    }
}


.location__title
{
    font-family: 'Playfair Display', sans-serif;
    font-size: rem(20px);
    font-weight: bold;

    margin: 0;
    padding: rem(10px) 0;

    text-transform: uppercase;
}

.location__text
{
    font-weight: 500;
}

.location__table
{
    display: table;

    width: rem(200px);
}

.location__table-row
{
    line-height: rem(28px);

    display: table-row;
}

.location__table-cell
{
    display: table-cell;

    &:first-child
    {
        font-weight: bold;
    }
}
