.logo__link
{
    position: absolute;
    top: rem(5px);
    left: 50%;

    display: block;

    width: rem(154px);
    height: rem(127px);
    margin-left: rem(-77px);
}

.logo__svg
{
    width: 100%;
    height: 100%;
}
