.promo
{
    display: flex;
    flex-direction: column;

    max-width: rem(760px);
    height: rem(300px);
    margin: 0 auto;
    padding: rem(15px);

    text-align: center;

    justify-content: center;
}

.promo__header
{
    font-family: 'Playfair Display', sans-serif;
    font-size: rem(32px);
    font-weight: bold;

    &--underline
    {
        font-weight: bolder;

        text-decoration: underline;
    }
}

.promo__text
{
    font-family: 'Lato', sans-serif;
}
