.testimonials
{
    display: flex;

    width: 100%;
    height: rem(426px);

    align-items: center;

    @include screen-sm
    {   
        flex-direction: column;
        height: rem(624px);
    }
}

.testimonials__bg
{
    height: rem(426px);

    background-image: url('../img/testimonial1.png');
    background-position: center center;
    background-size: cover;

    flex-grow: 1;

     @include screen-sm
    {   
        flex-grow: 0;
        height: rem(200px);
        width: 100%;
    }
}

.testimonials__container
{
    position: relative;

    display: flex;
    flex-direction: column;

    width: rem(460px);
    height: rem(424px);

    background-color: $gray;

    align-items: center;
    justify-content: center;

    @include screen-sm
    {   
        width: 100%;
    }

    &:after
    {
        position: absolute;
        right: 5%;
        bottom: 5%;

        width: rem(77px);
        height: rem(57px);

        content: '';

        background-image: url('../img/quotation-mark.png');
    }
}

.testimonials__number
{
    font-family: 'Playfair Display', sans-serif;
    font-size: rem(90px);
    font-weight: bold;
    line-height: rem(21px);

    position: absolute;
    top: 5%;
    left: 5%;

    opacity: .03;
    color: #fff;
}

.testimonials__slider
{
    overflow: hidden;
}

.testimonials__item
{
    height: rem(0px);

    transition: .3s;

    opacity: 0;

    &--active
    {
        height: auto;

        opacity: 1;
    }
}

.testomonials__foto
{
    width: rem(84px);
    height: rem(84px);
    margin: rem(0px) auto rem(5px);

    @include screen-sm
    {   
        margin-bottom: rem(10px);
    }
}

.testimonials__title
{
    font-family: 'Playfair Display', sans-serif;
    font-size: rem(20px);
    font-weight: bold;

    margin: 0;
    padding: 0;

    text-align: center;

    color: $yellow;
}

.testimonials__text
{
    padding: 0 rem(100px);

    text-align: center;

    color: #fff;
}

.testimonials__img 
{
    width: 100%;
    height: auto;
}