.welcome
{
    width: rem(450px);
    margin: auto rem(166px);

    @include screen-sm
    {
        width: 100%;
        margin: auto;
        padding: 0 5%;

        text-align: center;
    }
}

.welcome__text
{
    font-family: 'Lato', sans-serif;
    font-weight: 500;

    color: #fff;

    &--top
    {
        font-family: 'Playfair Display', sans-serif;
        font-size: rem(48px);
        font-weight: bold;

        margin: 0;
        padding: 0;

        color: $yellow;
    }
}
